input {
    file {
        path => "/logs/micro-service-1/application.log"
        start_position => "beginning"
        sincedb_path => "/dev/null"
#        type => "micro-service-1"
    }

    file {
      path => "/logs/micro-service-2/application.log"
      start_position => "beginning"
      sincedb_path => "/dev/null"
#      type => "micro-service-2"
    }
}

#filter {
#  json {
#    source => "message"
#  }
#  geoip {
#    source => "remote_ip"
#  }
#  useragent {
#    source => "agent"
#    target => "useragent"
#  }
#}

output {
  elasticsearch {
    hosts => ["http://elastic-search:9200"]
    index => "javeloper"
  }
  stdout {
    codec => rubydebug
  }
}
